<div class="window-data" id="helixd">
    <h2>HelixD</h2>

    <div class="">
    You want to become a partner?
    </div>
    <div class="about-fields">
        <div class="label">Email:</div><div>helixd.2k18@gmail.com</div>
        <div class="label">Discord:</div><div>helixd.2k18#4395</div>
    </div>
</div>