<div class="window-data" id="login">
    <h2>Login Form:</h2>
    <div class="window-login">
        <div class="label">Username:</div><input placeholder="username" type=""         name="username"/>
        <div class="label">Password:</div><input placeholder="password" type="password" name="password"/>
    </div>
</div>
